<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccnu.nrcci.hbnmhmap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_u256"
        android:label="湖北非遗平台"
        android:roundIcon="@drawable/logo_u256"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DetailActivity" />
        <activity android:name=".Activity.ProjectActivity" />
        <activity android:name=".Activity.ProjectVideo" />
        <activity
            android:name=".Activity.ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>